.border-radius-1 {
  border-radius: 4px;
}
.border-radius-3 {
  border-radius: 12px;
}
.border-radius-5 {
  border-radius: 20px;
}

.border-radius-25 {
  border-radius: 100px;
}

.letter-spacing-05 {
  letter-spacing: 0.05em;
}

.letter-spacing-1 {
  letter-spacing: 0.1em;
}
