<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 border-top border-neutral-300 py-6">
        <p class="text-center fw-bold letter-spacing-05 text-primary-400">
          ©Vivre 2024 All right Reserved
        </p>
      </div>
    </div>
  </div>
</footer>
