.header {
  .nav-wrap {
    padding-top: 48px;
    padding-bottom: 48px;

    @include pad {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .nav-border-bottom {
    border-bottom: 1px solid #adb5bd;
    @include pad {
      border-bottom: none;
    }
  }
}

.position-navicon {
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.header-ham-jq {
  display: none;
}

.jq-d-none {
  display: none;
}
