.register-border-radius {
  border-radius: 12px;
}

.register-place::placeholder {
  color: #adb5bd;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.05em;
}

.register-border-text:after {
  content: "或以其他方式註冊";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #adb5bd;
  background-color: #fff;
  padding: 0px 12px;
}
